.column {
  width: 250px;
  padding: 5px;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.2);
}

.column-header {
  display: flex;
  justify-content: space-around;
}

.column-header-logo {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: auto;
}

.column-header-add-card {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.column-header-add-card:hover {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}